[[local|localrc]]
IP_VERSION=4
ADMIN_PASSWORD={{ ansible_role_devstack_admin_password }}
DATABASE_PASSWORD={{ ansible_role_devstack_database_password }}
RABBIT_PASSWORD={{ ansible_role_devstack_rabbit_password }}
SERVICE_PASSWORD={{ ansible_role_devstack_service_password }}
